
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif ;

}



html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}


/* 
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/



@font-face{
  font-family:Slussen;
  src:url(/fonts/Slussen-Compressed-Black.woff2) format("woff2");
  font-display:swap;
  font-weight:900;
  font-stretch:compressed;
}
@font-face{
  font-family:Slussen;
  src:url(/fonts/Slussen-Expanded-Black.woff2) format("woff2");
  font-display:swap;
  font-weight:900;
  font-stretch:expanded;
}
@font-face{
  font-family:Slussen;
  src:url(/fonts/Slussen-Regular.woff2) format("woff2");
  font-display:swap;
  font-weight:400
}
@font-face{
  font-family:Slussen;
  src:url(/fonts/Slussen-Bold.woff2) format("woff2");
  font-display:swap;
  font-weight:700;
}




.icon-bar {
	position: fixed;
	top: 50%;
  left: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	z-index: 10;
}
.icon-bar a {
  display: block;
  
  text-align: center;
  padding-right: 0px;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
  transition: 0.8s;
}



.twitter {
  background: #55ACEE;
  color: white;

}



.linkedin {
  background: #007bb5;
  color: white;
}

.github {
  background: #bb0000;
  color: white;
}


a i {
	padding-left: 20px;
	font-size: 30px !important;
	animation: letszoom 3s linear alternate-reverse infinite;
}

@keyframes letszoom {
	from {
		transform: scale(0.8);
	}

	to {
		transform: scale(1);
	}

}

a:hover {
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
}


  
.exp{
  background-color: #000000;
  margin-top: 150px;
}

#vertical{
 
  /* background-color: #111; */
  background-image: linear-gradient(#111,#000000);
  padding-top: 250px;
  
}

#horizontal{

  background-color: #000000;
}

.strip{
  background-color: #555;
}

.vertical__heading {
  font-size: 80px;
  font-weight: 900;
  line-height: 120%;
  border-left: 3px solid #555;
  padding: 25px;
  margin: 0;
  color: #555;

  
}

h2 span { display: block; }

h3 {font-size: 40px;font-stretch: expanded;color: #555;line-height: 100%;}

h2,h3,h4 {
  text-transform: uppercase;

}

.container1 {
  width: 95%;
  margin: auto;
}

section {padding: 50px 0;}

.col {
  width: 50%;
}

#vertical {height: 200vh;width: 100vw;}

.vertical__content {
  display: flex;
  font-size: 25px;
  justify-content: center;
  align-items: flex-start;
  color:#555;
}

.vertical__content p{
  font-size: 20px;
  color: #555;
}

.vertical__content .col_left {height: 100%;}

.vertical__content .col.col_right {
  width: 40%;
}

.vertical__item:not(:last-child) {
  margin-bottom: 240px;
}

#horizontal {
  padding: 100px 0;

}

.horizontal__content {
  display: flex;
  
}

.horizontal__item {
  border: 13px solid #4f4f4f;
  padding: 5px 5px;
  box-shadow: rgba(85, 82, 82, 0.25) 0px 14px 28px, rgba(75, 74, 74, 0.22) 10px 50px 50px;

}
.horizontal__item:not(:last-child) {
  margin-right: 50px;
}





#cert1 img{
  height:  400px;
  width: 600px;

}
#cert2 img{
  height:  400px;
  width: 600px;
 
}
#cert3 img{
  height:  400px;
  width: 600px;
}
#cert4 img{
  height:  400px;
  width: 600px;
}
#cert5 img{
  height:  400px;
  width: 600px;
}


/* 
////////////////////////////////////////////////////////////////////////////////////////////////
*/




.container {
  background-color: #111  ;
  overflow: hidden;
}

.salute {
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  /* background-image: linear-gradient(rgb(0, 0, 0),#102243); */
  background-image: linear-gradient(rgb(0, 0, 0),#4b4c4e);


}


.saluteTextContainer {
  flex: 3;

}

.saluteImgContainer {
  flex: 1;
}

.saluteText {
  color: #ffffff;
  font-size: 60vw;
  cursor: default;
  /* font-family: 'Press Start 2P', cursive; */
}

.saluteImg {
  width: 100%;
}

.nameContainer {
  height: 100vh;
  background-color: rebeccapurple ;
  background:url("./img//parallax-bg.gif") ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.name {
  font-size: 10vh;
  color: #ffffff;
  cursor: default;
  text-align: center;
  line-height: 100vh;
  font-family: 'Press Start 2P', cursive;
}

.jobTitleContainer {
  height: 100vh;
}

.dark {
  /* background: url("https://camo.githubusercontent.com/0850a9b90bf720b08cafe764aea52d8cf2cc7048d4f8080297e8988b76bb08b8/68747470733a2f2f7265732e636c6f7564696e6172792e636f6d2f7375706572666f6c696f2f696d6167652f75706c6f61642f76313632303638393937392f36383734373437303733336132663266363932653730363936653639366436373265363336663664326636663732363936373639366536313663373332663633333632663333333332663633333232663633333633333333363333323330363536343635333833323636333036353330363336353634333736343335333733303634363236353333363133313636333332653637363936365f796a756832732e676966")  ;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

  background: rgb(16, 16, 16) url("./img/bg1.png");

}
.purple {
  background: rgb(153, 255, 0) url("./img/bg2.png");
  /* height: 100%; */


}

.jobTitle {
  /* font-size: 10vw; */
  font-size: 10vh;
  color: #ffffff;
  line-height: 100vh;
  cursor: default;
  font-family: 'Press Start 2P', cursive;
}
























.projects {
  display: flex;
  flex-direction: column;
  gap: 30vh;
  padding: 0px 100px;
}

.projectsTitle {
  font-size: 10vw;
  color: #333;
}

.project {
  display: flex;
  align-items: center;
  gap: 100px;
  height: 100vh;
  overflow: hidden;
}

.project:nth-child(2n) {
  flex-direction: row-reverse;
}

.phone {
  flex: 1;
  width: 300px;
  height: 600px;
  position: relative;
}

.phoneScreen {
  width: 264px;
  height: 567px;
  position: absolute;
  top: 17px;
  left: 18px;
  border-radius: 28px;
  overflow: scroll;
}

.phoneScreen::-webkit-scrollbar {
  display: none;
}

.phoneApp {
  width: 100%;
}

.projectDetail {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.projectTitle {
  font-size: 7vw;
  color: #555;
}

.projectDesc {
  font-size: 20px;
  color: #555;
  text-align: justify;
  line-height: 40px;
}

.projectButton {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #555;
  color: #555;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.projectButton::after {
  content: "View Demo";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 1s all;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #555;
  color: #222;
}

.projectButton:hover.projectButton::after {
  transform: translateX(100%);
}

.laptop {
  width: 600px;
  height: 379px;
  flex: 1;
  position: relative;
}

.laptopScreen {
  width: 451px;
  height: 283px;
  position: absolute;
  top: 18px;
  left: 68px;
  overflow: scroll;
}

.laptopApp {
  width: 100%;
}

.laptopScreen::-webkit-scrollbar {
  display: none;
}

.phoneScreen img{
  width: 264px;
  height: 567px;
}











@font-face {
  font-family: Founder;
  src: url(/FoundersGroteskCondensed-Bold.ttf);
}

@font-face {
  font-family: CardinalR;
  src: url(/cardinalfruitweb-regular.ttf);
}

@font-face {
  font-family: Cardinali;
  src: url(/cardinalfruitweb-italic.ttf);
}







.githubContainer {
  background-image: linear-gradient(#000000,#121212a0);

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.githubTitle {
  font-size: 100px;
  color: #333;
  
  
}

.githubChart {
  width: 820px;
  text-align: center;
}

.dates {
  padding: 10px;
  color: #555;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.boxContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.box {
  width: 15px;
  height: 15px;
  background-color: #171c25;
  border-radius: 2px;
  cursor: pointer;
  transition: 1.2s all ease;
}
.githubSm{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color:#555;
  font-size: 24px;
  text-align: center;
}

.githubContainer img{
  width: 30vh;
  -webkit-filter: grayscale(1) invert(1);
filter: grayscale(1) invert(0.25);
}

.active:nth-child(4n) {
  background-color: #195b2c;
}

.githubChart:hover .active:nth-child(2n+1){
  background-color: #195b2c;
}
.githubChart:hover .active:nth-child(2n){
  background-color: #063f24;
}

.githubSm{
  display: none;
}





















@media screen and (max-width:1024px) {

  .projects{
    padding: 0 30px;
    text-align: center;
  }

  .project{
    flex-direction: column;
    height: max-content;
  }
  .project:nth-child(2n){
    flex-direction: column;
  }

  .phone,.laptop{
    transform: none !important;
  }
  


  .githubTitle{
    text-align: center;
    font-size: 7vw;
  }

  .dates {
    padding: 30px;
    color: #555;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .boxContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

  }

  .githubSm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color:#555;
    font-size: 24px;
    text-align: center;
  }

  .githubSm img{
    width: 30vh;
  }

  .vertical__heading {
    font-size: 50px;
  }
  .vertical__content {
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: flex-start;
    color:#c3c5c4;
  }

  
.vertical__content p{
  font-size: 15px;
  color: #555;
}
}